<ion-header>
    
  <ion-navbar color="header">
    <ion-title>Reminders</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="custom">
 <ion-card>
   <ion-card-header text-wrap text-center>
   Add a reminder to be notified of important dates. Never forgot to change the oil again! 
  </ion-card-header>

  <div align="center">
   <ion-item>
      <ion-label stacked>Select Frequency</ion-label>
      <ion-select [(ngModel)]="frequency">
      <ion-option value="One Time">One Time Only</ion-option>
      <ion-option value="Daily">Daily</ion-option>
      <ion-option value="Weekly">Weekly</ion-option>
      <ion-option value="Monthly">Monthly</ion-option>
      <ion-option value="Yearly">Yearly</ion-option>
      <ion-option value="Custom">Custom</ion-option>
      </ion-select>
      </ion-item>

   <button color="proceed" ion-button (click)="addReminder()">Add Reminder</button>
  </div>

  <div text-center *ngIf="showReminders">
  <ion-card-header text-wrap text-center>
      Delete reminders you no longer want to receive below:
     </ion-card-header>
     <button color="warning" ion-button (click)="deleteAllReminders()">Delete All</button>

   <ion-list no-lines>
    <ion-item *ngFor="let reminder of reminders">
      <button ion-button icon-only clear
      (click)="deleteReminder(reminder.id)"><ion-icon color="warning"
      name="trash"></ion-icon>{{ reminder.event }} {{ reminder.scheduleFrequency}}</button>
      </ion-item>
   </ion-list>
  </div>
 </ion-card>
</ion-content>


