page-boat-math {
    .buttonGreen {
        color: map-get($colors, exLight);
        background-color: map-get($colors, proceed);
        padding: 3px 10px;
        color: white;
        border-radius: 5px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .result {
        text-align: center;
        color: map-get($colors, warning);
    }

}