<ion-header>

  <ion-navbar color="header">
    <ion-title>Budget Surplus Detail</ion-title>
    <ion-buttons end>
      <button color="exLight" ion-button icon-only (click)="closeModal()"><ion-icon
      name="close"></ion-icon></button>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding class="custom">
  <ion-card>
      <ion-list>
        <ion-list-header *ngIf="noEntries">
            No budget surplus entries made
        </ion-list-header>
          <ion-item-sliding #slidingItem *ngFor="let entry of entries">
              <ion-item>
                <div class="row">
                <div class="col text">
                  <button color="exDark" item-start ion-button clear>
                    {{ entry.date | date:'M/d/yy'}}
                  </button></div>

                  <div class="col detail">
                      <button color="exDark" class="number" text-capitalize item-end ion-button clear> {{ entry.details }}</button>
                    </div>

                  <div class="col currency">
                  <button color="exDark" text-capitalize item-start ion-button clear item-end>
                      {{ entry.amount | currency }}
                    </button></div>
                  </div>
                </ion-item>
  
            <ion-item-options>
              <button ion-button outline icon-only color="proceed"
              (click)="editEntryItem(entry, slidingItem)"><ion-icon
              name="clipboard"></ion-icon></button>
              <button ion-button outline icon-only color="warning"
              (click)="removeEntryItem(entry, slidingItem)"><ion-icon
              name="trash"></ion-icon></button>
            </ion-item-options>
          </ion-item-sliding>
          </ion-list>
    </ion-card>
  </ion-content>



  



