<ion-header>
    
  <ion-navbar color="header">
    <ion-title>Add {{ typeReminder }} Reminder</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="custom">
 <ion-card>
  <div>
      <ion-list no-lines>
        <ion-item>
            <ion-label>Remind me to: </ion-label>
            <ion-input [(ngModel)]="notifyEvent"></ion-input>
          </ion-item>

        <ion-item>
          <ion-label>Send reminder <span *ngIf="typeDaily">everyday</span> at: </ion-label>
          <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="notifyTime" (ionChange)="timeChange()"></ion-datetime>
        </ion-item>

        <div *ngIf="typeOnce || typeYearly">
            <ion-item>
              <ion-label>Send reminder on:</ion-label>
              <ion-datetime [(ngModel)]="notifyDate" displayFormat="MM/DD/YYYY"></ion-datetime>
            </ion-item>
        </div>

        <div *ngIf="typeWeekly || typeMonthly || typeCustom">
            <ion-item>
                <ion-label>on the following <span *ngIf="typeCustom">days of the week</span><span *ngIf="typeWeekly">day of the week</span><span *ngIf="typeMonthly">day of the month</span>:</ion-label>
            </ion-item>
    
            <div *ngIf="typeCustom">
            <ion-item *ngFor="let day of days">
                <ion-label>{{day.title}}</ion-label>
                <ion-checkbox [(ngModel)]="day.checked" color="primary"></ion-checkbox>
            </ion-item>
          </div>

          <div *ngIf="typeWeekly">
            <ion-list radio-group [(ngModel)]="daySelected">
                <ion-item *ngFor="let day of days">
                  <ion-label>{{day.title}}</ion-label>
                  <ion-radio value="{{ day.dayCode }}"></ion-radio>
                </ion-item>
            </ion-list>
          </div>

                <!-- <ion-label stacked>Select Frequency</ion-label>
                <ion-select [(ngModel)]="day.checked">
                <ion-option value="One Time">One Time Only</ion-option>
                <ion-option value="Daily">Daily</ion-option>
                <ion-option value="Weekly">Weekly</ion-option>
                <ion-option value="Monthly">Monthly</ion-option>
                <ion-option value="Yearly">Yearly</ion-option>
                <ion-option value="Custom">Custom</ion-option>
                </ion-select> -->
    
        </div>

      </ion-list>

      <div text-center align-items-center>
      <button [disabled]="!notifyEvent" (click)="addNotification(typeReminder)" ion-button color="proceed">Schedule</button>
      </div>
    </div>

    <!-- <div *ngIf="typeCustom">
        <ion-list no-lines>

  
          <ion-item>
              <ion-label>on the following days:</ion-label>
          </ion-item>
  
          <ion-item *ngFor="let day of days">
              <ion-label>{{day.title}}</ion-label>
              <ion-checkbox [(ngModel)]="day.checked" color="primary"></ion-checkbox>
          </ion-item>
  
          <ion-list radio-group>
          <ion-item>
              <ion-label>One Time</ion-label>
              <ion-radio  color="primary" value="one"></ion-radio>
          </ion-item>
  
          <ion-item>
              <ion-label>Indefinitely</ion-label>
              <ion-radio  checked="true" color="primary" value="many"></ion-radio>
          </ion-item>
        </ion-list>
  
      </ion-list>
  
        <button (click)="addDailyNotification()" ion-button color="primary">Schedule</button>
      </div> -->
 </ion-card>

</ion-content>
