page-show-archive-budget {
    ion-list-header {
        text-align: center;
    }

    .text {
        color: black;
    }

    .number {
        color: map-get($colors, proceed);
    }

    .numberNegative {
        color: map-get($colors, warning);
    }

}
