page-budget-reports {
    ion-list-header {
        text-align: center;
    }

    .text {
        color: black;
    }

    .number {
        color: map-get($colors, proceed);
    }

    .numberNegative {
        color: map-get($colors, warning);
    }

    .bold{
        font-weight: bolder;
        content: "Joe's Task:";
    }
    .normal{
        font-weight: normal;
    }
}
