<ion-header>
  <ion-navbar color="header">
    <ion-title><span>{{ today | date:'MMM' }}</span> Budget <span *ngIf="budget">{{ budget.monthlyBudget | currency:'USD':symbol:'2.2-2' }}</span></ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addCategory()"><ion-icon
      name="add-circle"></ion-icon></button>
      </ion-buttons>
      <button ion-button icon-only menuToggle right>
          <ion-icon name="menu"></ion-icon>
        </button>
  </ion-navbar>
</ion-header>


<ion-content padding class="custom">
  <ion-card>
      <ion-list no-lines>
          <ion-list-header *ngIf="budget">
              {{ budget.monthlyBudget - budget.monthlyBudgetSpent| currency:'USD':symbol:'2.2-2' }}
              of budget remaining
            </ion-list-header>
          <ion-item-sliding #slidingItem *ngFor="let category of categories">
              <ion-item>
                  <button class="text" text-capitalize item-start ion-button clear (click)="addEntry(category)">{{ category.title }}
                    (items {{category.items.length}})
                  </button>
                  <button class="number" item-end ion-button clear> {{ category.amtAllocated | currency:'USD':symbol:'2.2-2'}}</button>
                  <button class="numberNegative" item-end ion-button clear> ({{ category.amtSpent | currency:'USD':symbol:'2.2-2'}})</button>
                  <button class="text" item-end ion-button icon-only clear (click)="viewCategoryEntries(category)"><ion-icon name="arrow-dropright"></ion-icon></button>
               
                </ion-item>
  
            <ion-item-options>
              <button ion-button outline icon-only color="proceed"
              (click)="renameCategory(category, slidingItem)"><ion-icon
              name="clipboard"></ion-icon></button>
              <button ion-button outline icon-only color="warning"
              (click)="removeCategory(category, slidingItem)"><ion-icon
              name="trash"></ion-icon></button>
            </ion-item-options>
          </ion-item-sliding>
          </ion-list>
    </ion-card>
  </ion-content>



  

