<ion-header>

    <ion-navbar color="header">
      <ion-title>Travel Log</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding class="custom">
    <ion-card>
        <ion-list>
            <ion-item-sliding #slidingItem *ngFor="let entry of locations">
                <ion-item>
                  <div class="row">
        
                  <div *ngIf="entry.category == 'mooring'" class="col text">
                    <button color="exDark" item-start ion-button clear>
                      {{ entry.arrive | date:'M/d/yy'}}
                    </button></div>

                    <div *ngIf="entry.category == 'diving'" class="col text">
                        <button color="exDark" item-start ion-button clear>
                          {{ entry.today | date:'M/d/yy'}}
                        </button></div>
  
                    <div class="col detail">
                        <button color="exDark" class="text" text-capitalize item-end ion-button clear (click)="showLocation(entry)"> {{ entry.name }}</button>
                      </div>

                      <div *ngIf="entry.category == 'diving'" class="col currency">
                        <button ion-button icon-only clear>
                        <img src='assets/imgs/scubadivingIcon.png'></button>
                        <button ion-button icon-only clear (click)="showOnMap(entry)">
                          <ion-icon color="exDark" name="globe"></ion-icon></button></div>
                   

                    <div *ngIf="entry.category == 'mooring'" class="col currency">
                        <button ion-button icon-only clear>
                        <img src='assets/imgs/harborIcon.png'></button>
                        <button ion-button icon-only clear (click)="showOnMap(entry)">
                          <ion-icon color="exDark" name="globe"></ion-icon></button></div>
  
                    </div>

                  </ion-item>
    
              <ion-item-options>
                <button ion-button outline icon-only color="warning"
                (click)="removeLocation(entry, slidingItem)"><ion-icon
                name="trash"></ion-icon></button>
              </ion-item-options>
            </ion-item-sliding>
            </ion-list>
      </ion-card>
    </ion-content>
