<ion-header>

    <ion-navbar color="header">
      <ion-title>Travel Log</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding class="custom">
    <ion-card>
        <ion-list>
            <ion-item-sliding #slidingItem *ngFor="let entry of locations">
             
             <ion-item *ngIf="entry.category == 'mooring'">
                <button color="exDark" ion-button clear>
                    {{ entry.arrive | date:'M/d/yy'}}
                  </button>
                  <button color="exDark" class="text" text-capitalize ion-button clear (click)="showLocation(entry)"> {{ entry.name }}</button>
                  <button (click)="showOnMap(entry)" item-start class="noB"><ion-img width="32" height="37" src="assets/imgs/harbor.png"></ion-img></button>
              </ion-item>

              <ion-item *ngIf="entry.category == 'diving'">
                  <button color="exDark" ion-button clear>
                      {{ entry.today | date:'M/d/yy'}}
                    </button>
                    <button color="exDark" class="text" text-capitalize ion-button clear (click)="showLocation(entry)"> {{ entry.name }}</button>
                    <button (click)="showOnMap(entry)" item-start class="noB"><ion-img width="32" height="37" src="assets/imgs/scubadiving.png"></ion-img></button>
                </ion-item>
    
              <ion-item-options>
                <button ion-button outline icon-only color="warning"
                (click)="removeLocation(entry, slidingItem)"><ion-icon
                name="trash"></ion-icon></button>
              </ion-item-options>
            </ion-item-sliding>
            </ion-list>
      </ion-card>
    </ion-content>
